@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  background-color: #FFF;
  padding: 5px 8px;
  color: #088F8F;
  border-radius: 4px;
}

button:hover{
  background-color: grey;
  color: #fff;
  transition: 1s
}

.nav {
  @apply sm:py-3 py-5 sm:px-10 px-5 flex justify-between;
}

.links{
  display: flex;
  justify-content: center;
  gap: 24px;
  color: #FFF;
  font-weight: bold;
}

.bars{
  display: none;
}

@media (max-width:800px) {
  .links{
    display: none;
  }
  .links.active{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #088F8F;
    position: absolute;
    width: 100%;
    left:0;
    top:57px;
    gap:15px;
    text-align: center;
  }

  .bars{
    display: block;
  }
}

.hero{
 background: black;
 opacity: 0.85;
 height: 90vh
}

.hero .image-slides{
  height: 100%
}

.hero .image-slides img{
  height: 100%;
  width: 100%;
}

.headerText{
  font-size: 3.5rem;
  font-weight: 700;
}

.flexImage{
  height: 60vh;
  width: 100%
}

.flexImage img{
  height: 100%;
  width: 100%
}

.section-prop{
  padding: 4rem;
}

.course-section{
  padding-top: 9rem;
}

@media (max-width:799px) {
  .section-prop{
    padding: 2rem;
  }
}

.span-text{
  color: teal;
  font-weight: 800;
  font-size: 1.3rem;
}

.p-text{
  font-size: 1rem
}

@media (max-width:799px) {
  .p-text{
    font-size: 113px;
  }
}

.stats {
  background: linear-gradient(to right, rgb(4, 194, 219), rgb(5, 156, 206), royalblue, navy);
}

@media (max-width: 799px) {
  .headerText{
    font-size: 1.5rem;
  }

  .p-text{
    font-size: 0.61rem
  }
}